{% extends "base.html" %}
{% block title %}{{ legend.title }}{% endblock %}

{% block content %}
<section class="section">
    <div class="home-text">
        <h1>{{ legend.title }}</h1>
        <p>{{ legend.claim }}</p>
        <p>{{ legend.author }} - {{ legend.published }}</p>
        <br><br>
        <p>{{ legend.subtitle }} It is considered {{ legend.rating }}</p>
        <br><br>
        <p>Read more: <a href="{{ legend.url }}">{{ legend.url }}</a></p>
    </div>
</section>
{% endblock %}
