{% extends "base.html" %}
{% block title %}Submit Urban Legend - Like a Legend!{% endblock %}

{% block content %}
<main id="main">

<section id="contact" class="contact">
    <div class="container">

    <div class="section-title">
        <h2>Eternal Gratitude for Unveiling the Unseen</h2>
        <p>
            Thank you for casting light on the shadows of urban folklore with your contribution. 
            Your narrative adds a mysterious layer to our tapestry of legends, enriching the allure of the unknown. 
            We are indebted to your storytelling magic and eagerly anticipate the continued unveiling of enigmatic tales.
        </p>
    </div>
    </div>

</section><!-- End Contact Section -->

</main><!-- End #main -->

{% endblock %}